.bg-dark {
  background-color: #3a3a3a;
}

.border-gray {
  border: 1px solid #8f8f91;
}

.button,
.input {
  border: 1px solid #8f8f91;
  border-radius: 7px;
  padding: 0.5em;
  color: white;
  width: 100%;
  background-color: #3a3a3a;
}

.input {
  padding: 0.5em;
}

.button:hover {
  background: qlineargradient(
    x1: 0,
    y1: 0,
    x2: 0,
    y2: 1,
    stop: 0 #343434,
    stop: 1 #484848
  );
}

.bg-red {
  background-color: red;
}

.bg-dark-1 {
  background-color: #534e4e;
}

.px-5 {
  padding: 0 10px;
}

.py-5 {
  padding: 10px;
}

.mx-5 {
  margin: 0 10px;
}

.my-5 {
  margin: 10px;
}

.text-md {
  font-size: 40px;
}

.text-white {
  color: white;
}

.rounded-md {
  border-radius: 10px;
}
